<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a [routerLink]="['/home']">Home</a></li> 
        <li><a [routerLink]="['/passenger-search']">Passenger Search</a></li> 
        <li><a [routerLink]="['/reactive-passenger-search']">Reactive Passenger Search</a></li> 
        <li><a [routerLink]="['/passenger-lookahead']">Lookahead</a></li>    
        <li><a [routerLink]="['../passenger-edit', 0, {showDetails: true}]">Add new Passenger</a></li>                                   
    </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>